@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Inter:wght@400;700;800&display=swap");

body {
  margin: 0;
  font-family: "Inter", "Dancing script", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
